<div class="container">
  <div id="carousel">


  </div>

  <div class="section1">
    <h1>CHEZ RAFOU</h1>
    <h3>On mange comme des Fous</h3>
    <h2 class="titrebas"> Découvrez nos Spécialités</h2>
  </div>

  <!-- Petit Carroussel -->
  <div class="slideshow">
  	<ul>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519752104-img1.jpg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519752109-img2.jpg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519752109-img3.jpg" alt="" width="350" height="200" /></li>
  		<li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519752111-img4.jpg" alt="" width="350" height="200" /></li>
      <li><img src="https://image.noelshack.com/fichiers/2018/09/2/1519752114-img5.jpg" alt="" width="350" height="200" /></li>
  	</ul>
  </div>

  <!-- Onglets -->
  <div class="bare">
    <button id="presentation">Présentation</button>
    <button id="menu">Menu</button>
    <button id="map">Map</button>
  </div>

  <div id="presentation_contenu">
    <h3>Présentation</h3>
    <p>
      Bienvenu chez RAFOU.
      Ici on ne prépare que des spécialités du Sud-Ouest!
    </p>
  </div>

  <div id="menu_contenu">
    <h3>Menu</h3>
    <ul>
      <li>Axoa de Canard      12€</li>
      <li>Magret de Canard    15€</li>
      <li>Cassoulet           15€</li>
    </ul>
  </div>

  <div id="map_contenu">
    <h3>Map</h3>
    <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.772184922611!2d4.792371551236561!3d45.69554367900177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4e92237f8b2d7%3A0xa094b642b9736afe!2sRAFOU+TOUT+COURS!5e0!3m2!1sfr!2sfr!4v1519742058464" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>    </p>
  </div>


  <!-- Gros Carroussel -->
  <div id="carousel">
    <div class="btn-bar">
      <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div>
    </div>
    <div id="slides">
        <ul>
            <li class="slide">
              <img src="https://image.noelshack.com/fichiers/2018/09/2/1519756458-img6.jpg" alt="" width="350" height="200" />
            </li>
            <li class="slide">
              <img src="https://image.noelshack.com/fichiers/2018/09/2/1519756463-img7.jpg" alt="" width="350" height="200" />
            </li>
            <li class="slide">
              <img src="https://image.noelshack.com/fichiers/2018/09/2/1519756471-img8.jpg" alt="" width="350" height="200" />
            </li>
            <li class="slide">
              <img src="https://image.noelshack.com/fichiers/2018/09/2/1519756478-img9.jpg" alt="" width="350" height="200" />
            </li>
        </ul>
    </div>
</div>
